@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: "ShabnamMedium", sans-serif;

  --font-mono: var(--font-geist-mono);
}
@layer utilities {
  .font-ShabnamThin {
    font-family: "ShabnamThin", sans-serif;
  }

  .font-ShabnamMedium {
    font-family: "ShabnamMedium", sans-serif;
  }

  .font-ShabnamBold {
    font-family: "ShabnamBold", sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "ShabnamThin";
  src: url("/fonts/Shabnam-Light-FD.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShabnamMedium";
  src: url("/fonts/Shabnam-Medium-FD.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShabnamBold";
  src: url("/fonts/Shabnam-Bold-FD.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
